<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h3>Dear <%= @user.first_name %>,</h3>
	<h4>Greetings from St. Joseph’s!</h4>
	<p>Congratulations! Your paper ID: <%= @paper.new_paper_version1_file_name %> 
	Title: <%= @paper.paper_tile %> has been selected for the International Conference on Recent Trends in Engineering and Technology. Please follow the below mentioned procedure for participating in the conference. Registration must be done on or before 15th April 2017.<br></p>
	Instructions for Event registration:<br>
	1) Login to icrtet2017.<br>
	2) Click on the ‘Event Registration’ tab.<br>
	3) Pay the registration fee using our Online Payment Facility.<br>
	For any queries contact us at icrtet2017@stjosephstechnology.ac.in.<br>
	We wish you all the very best for all your future endeavors.<br>
	<bold>Note:<br>
	If there are multiple authors, please register individually in order to get separate certificate for each author.<br>
	Formal Dress code must be followed.<br>
	Bring original College ID or a Bonafide to be eligible for student concession.<br></bold>
	Regards,<br>
	Coordinator<br>
	ICRTET 2017<br>
	St. Joseph’s Institute of Technology<br>
	OMR, Chennai – 119.
</body>
</html>