<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear <%= @user.first_name %></h1>
    <h4> Your paper id: <%= @paper.new_paper_version1_file_name %> title: <%= @paper.paper_tile %> has been rejected for ICRTET2017.</h4>
  </body>
</html>