<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.first_name %></h1>
    <h4> Greetings from ICRTET2017 </h4>
    <p>
      Your one time password for icrtet2017 <%= @user.verification_code %>.
    </p>
  </body>
</html>