<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <h1>Dear <%= @user.first_name %></h1>
    <h4> You have been signed up successfully for ICRTET 2017.Kindly upload your paper using our website.</h4>
  </body>
</html>