 <div class="container-fluid">
   <h2> General Instructions </h2>
   <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h3>Submission of Papers</h3>
      <ul type="square" style="font-size:18px">
        <li>Authors are required to submit their papers (maximum of 8 A4 sized pages) adhering to the  specified format (a copy of which is available for download in the site).</li>
        <li>Authors must upload their papers onto the conference website.<font style="color:red">(* Don't send your paper in the email.)</font></li>
        <li>The submitted papers must be original and unpublished.</li>
        <li>Double blind peer reviews will be followed.</li>
        <li>Registrations must be done online through our website.</li>
        <!-- <li>The DD must be drawn in favour of "St.Joseph's Institute of Technology", payable within Chennai at any nationalised bank.</li> -->
        <li>All accepted papers will be pubished in Annexure I or Annexure II.</li>
      </ul>
      <h3>Registration</h3>
      <ul type="square" style="font-size:18px">
        <li>Authors must register online at the conference website.</li>
        <li>A valid phone number and email ID must be given, along with a password.</li>
        <li>Last Date for Paper Submission is <strike style="color:red;">5 April 2017</strike> <strong >18 April 2017.</strong ></li>
      </ul>
      <h3>Upload your Paper</h3>
      <ul type="square" style="font-size:18px">
        <li>Select the paper type and enter the Title and Abstract.</li>
        <li>Upload your full paper.</li>
        <li>If necessary, the paper can be edited and uploaded again.</li>
        <li>If paper is accepted upload camera ready paper.</li>
      </ul>
      <h3>Event Registration</h3>
      <ul type="square" style="font-size:18px">
        <li>The registration fee should be made online through our website.</li>
        <li>The payment can be made through payment gate way.</li>
        <li>If your paper is accepted pay the fee before 23<sup>rd</sup> April 2017.</li>
      </ul>
      <h3>Payment Detials</h3>
      <div class="panel panel-default">
        <table class="table" >
          <tr >
            <td style="font-size:16px">Students</td>
            <td style="font-size:16px">Rs. 1000</td>
          </tr>
          <tr>
            <td style="font-size:16px">Faculty/Delegates/Research Scholars</td>
            <td style="font-size:16px">Rs. 1500</td>
          </tr>
        </table>
      </div>
      
      
    </div>
  </div>
</div>