		<div class="container">
			<div class="inner center" style="position: relative;" >

				<!-- Service text-->
				<h1>Committee</h1>
				"Reviewers with the Greater Excellence supporting the Review of the paper Submissions!"<br><br>

			</div><!-- /inner -->
			<div class="col-md-3"></div>
			<div class="col-md-6">

				<ul class="list-group">
					<li class="list-group-item active"><strong><font size=5>Chief Patron</font></strong><br></li>
					<li class="list-group-item"><strong>Dr. B. BABU MANOHARAN ,M.A.,M.B.A.,Ph.D.,  </strong><br>Managing Director,St.Joseph’s Institute of Technology
					</li>
					<br>
					<br>
					<li class="list-group-item active"><strong><font size =5>Patrons</font></strong><br></li>
					<li class="list-group-item"><strong>Mrs. B. JESSIE PRIYA,M.Com., </strong><br>Director,St.Joseph’s Institute of Technology
					</li>
					<li class="list-group-item"><strong>Mr. B. SHASHI SEKAR,M.Sc.(Intl.Business), </strong><br>Chief Excecutive Officer,St.Joseph’s Institute of Technology
					</li>
					<br>
					<br>
					<li class="list-group-item active"><strong><font size =5>Conference Chairman</font></strong><br></li>
					<li class="list-group-item"><strong>Dr. P. RAVICHANDRAN,M.Tech.,Ph.D., </strong><br>Principal,St.Joseph’s Institute of Technology</li>
					<br><br>
					<li class="list-group-item active"><strong><font size =5>Convenors</font></strong>
						<li class="list-group-item"><strong>Dr.J.Dafni Rose, M.E.,Ph.D </strong><br>
						</li>
						<li class="list-group-item"><strong>Dr. C. Gnana Kousalya M.E, Ph.D    </strong><br>
						</li>
						<li class="list-group-item"><strong>Dr.D.Kirubakaran, M.E.,Ph.D </strong><br>
						</li>
						<li class="list-group-item"><strong>Dr.K.Arun Vasantha Geethan, M.E.,Ph.D	  </strong><br>
						</li>
						<li class="list-group-item"><strong>Dr.S.Kalarani., M.E.,Ph.D</strong><br>
						</li>
						<li class="list-group-item"><strong>Dr.T.Kalyani, M.Sc., M.Phil., Ph.D   </strong><br>
						</li>
						<li class="list-group-item"><strong>Mrs.S.Padmakala, M.E.,(Ph.D) </strong><br>
						</li>
						<li class="list-group-item"><strong>Dr.G.Rohini, M.E.,Ph.D </strong><br>
						</li>
						<li class="list-group-item"><strong>Dr.S.Hemalatha, M.E.,Ph.D </strong><br>
						</li>
						<li class="list-group-item"><strong>Mrs.Savithri, M.E.,(Ph.D) </strong><br>
						</li>
						<li class="list-group-item"><strong>Dr.R.Priscilla, M.E.,Ph.D  </strong><br>
						</li>
						<li class="list-group-item"><strong>Dr.T.T.Raman, M.Sc., M.Phil., Ph.D        </strong><br>
						</li>
					</ul>
					<br><br>
					<ul class="list-group">
						<li class="list-group-item active"><strong><font size =5>Advisory Committee</font></strong><br></li>
						<li class="list-group-item"><strong>Mohd Helmy Abd Wahab,</strong><br>University Tun Hrssein Onn, Malaysia.<br></li>
						<li class="list-group-item"><strong>Dr.K.M.Anandkumar M.Tech.,Ph.D</strong><br>SRM Eswari Engineering College<br>
						</li>
						<li class="list-group-item"><strong>Dr.A.Jaya MCA,M.E.,Ph.D</strong><br>B.S. Abdur Rahman Crescent Engineering College<br>
						</li>
						<li class="list-group-item"><strong>Dr.Chen Gao,</strong><br>Tufts University, USA. <br>
						</li>
						<li class="list-group-item"><strong>Dr.Yusuke NOJIMA,</strong><br>Osaka Prefecture University, Japan.<br>
						</li>
						<li class="list-group-item"><strong>Dr. A. Suresh</strong><br>S.A. Engineering College<br>
						</li>
						<li class="list-group-item"><strong>Dr.Antonio Arauzo Azofra,</strong><br>Universidad de Cordoba, Spain.<br>
						</li>
						<li class="list-group-item"><strong>Dr.S.Vijayananth M.E, Ph.D</strong><br> Agni college of Technology<br>
						</li>
						<li class="list-group-item"><strong>Dr.Pedro Albertos,</strong><br>Univ.Politecnica Valencia, Spain.<br></li>
						<!-- <li class="list-group-item"><strong>Dr.S.Vijayananth,</strong><br>Associate professor, Mechanical dept, Agni College of Technology, Chennai, India.<br></li> -->
						<li class="list-group-item"><strong>Dr.K. Chinnaraju</strong><br>College of Engineering <br></li>
						<li class="list-group-item"><strong>Dr.D.Gnanaraj Thomas</strong><br>Madras Christian College<br>
						</li>
						<li class="list-group-item"><strong>Dr.Daniela Zaharie,</strong><br>University of Romania, Romania.<br></li>
						<li class="list-group-item"><strong> Dr.C.R.Rene Robin M.E., Ph.D</strong><br> Jerusalem College of Engineering <br>
						</li>
						<li class="list-group-item"><strong>Dr. S. Rama Reddy</strong><br>Jerusalem college of Engineering<br>
						</li>
						<li class="list-group-item"><strong>Dr.Cristina Alcarez,</strong><br>University of Malaga, Spain.<br>
						</li>
						<li class="list-group-item"><strong>Dr.Anupan Karmakar,</strong><br>Calcutta University, India.<br>
						</li>
						<li class="list-group-item"><strong>Dr.Ujjwal Maulik,</strong><br>Jadavpur University, India.<br>
						</li>
						<li class="list-group-item"><strong>Dr. Rajarshi Mahapatra,</strong><br>Rockwell Collins,India.<br>
						</li>
						<li class="list-group-item"><strong>Dr. J.K.Mondal,</strong><br>Kalyani University, India.<br>
						</li>
						<li class="list-group-item"><strong>Dr.Indrajit Pan,</strong><br>RCCIIT,Kolkata, India.<br>
						</li>
						<li class="list-group-item"><strong>Dr.R.Surendran</strong><br>Sur University Sur, Sultanate of OMAN.<br>
						</li>
						<li class="list-group-item"><strong>Dr.Xioa-Zhi Gao,</strong><br>Aalto University, Finland.<br>
						</li>
<!-- 						<li class="list-group-item"><strong></strong><br>Jerusalem college of Engineering<br>
						</li> -->
						<li class="list-group-item"><strong>Dr. K.M.Ananda Kumar,</strong><br>Professor,SRM Easwari Engineering College, Chennai, India.<br>
						</li>
						<li class="list-group-item"><strong>Dr. S. Prakash</strong><br>Professor, Faculty Head,Sathyabama University ,Chennai, India.<br>
						</li>
					</ul>
					<ul class="list-group">
						<li class="list-group-item active"><strong><font size =5>Session Chair</font></strong><br></li>
						<li class="list-group-item"><strong>Mohd Helmy Abd Wahab,</strong><br>University Tun Hrssein Onn, Malaysia.<br></li>
						<li class="list-group-item"><strong>Dr.V.Sathiesh Kumar</strong><br>Assistant Professor, ECE<br>Madras Institute Of Technology, Chennai.<br></li>
						<li class="list-group-item"><strong>Dr. R.Dhanasekaran</strong><br>Dean(Research,Syed Ammal Engineering College, Ramanathapuram.<br></li>
						<li class="list-group-item"><strong>Dr. V. Rajkumar Dare</strong><br>Madras Christian College<br></li>
						<li class="list-group-item"><strong>Dr.P. Thamil Selvi</strong><br>College of Engineering<br></li>
						<li class="list-group-item"><strong>Dr. S. Vijayan</strong><br>SSN College of Engineering<br></li>

					</ul>
				</div>
			</div>