<div class="container">
  <h2>Dates to Remember</h2><br><br>


  <div class="timeline">


    <ul>
      <li>
        <h3>Submission Of Full Paper</h3>
        <p style="font-size: 18">Upload your full paper within the specified date, in accordance to the IEEE standard format(max 8 pages). It must be original and unpublished.</p>
        <time><strike style="color:red;">5 April 2017</strike>  <strong>18 April 2017.</strong></time>
      </li>
      <li>
        <h3>Notification Of Acceptance</h3>
        <p style="font-size: 18">The papers will be judged, and if accepted, a notification of acceptance will be sent to the author before <time><strong>23 April 2017</strong></time></p>
        
      </li>
      <li>
        <h3>Registration</h3>
        <p style="font-size: 18">Registration must be done online, and payment to be made online through our website.</p>
        <time><strong>23 April 2017</strong></time>
      </li>
      <li>
        <h3>Conference Date</h3>
        <p<p style="font-size: 18">The authors have to present their paper in the conference.</p>
        <time><strong>5 & 6 May 2017</strong></time>
      </li>
    </ul>
  </div>
</div>


<br><br><br><br>
