<h1> Published Links </h1>

<p> International Journal of Advanced Research in Basic Engineering Sciences  And Technology </p> <a href="https://www.ijarbest.com/conference/spcl39">Click here</a>



<!-- <div class="container">
  <h3>Annexure 1 :</h3>
  <ul class="list-group">
    <li class="list-group-item">Journal of Computer Science and Technology (Sci indexed )
    </li>
    <li class="list-group-item">Journal of Information Technology (Sci indexed )
    </li>
    <li class="list-group-item">Journal of Computer Information Systems (Sci indexed )
    </li>
    <li class="list-group-item">International Journal of Business Intelligence and Data Mining - Inderscience (Sci indexed )
    </li>
    <li class="list-group-item">Cluster computing - Springer (Sci indexed )
    </li>
    <li class="list-group-item">Journal of Ambient Intelligence and Humanized Computing – Springer (Sci indexed )
    </li>
    <li class="list-group-item">Design Automation for Embedded Systems - Springer (Sci indexed )
    </li>
  </ul>
  <br>
  <h3>Annexure 2 :</h3>
  <ul class="list-group">
  
    <li class="list-group-item">Informatics in Medicine Unlocked - Elsevier (Scopus indexed)
    </li>
    <li class="list-group-item">Int. J. of Environment and Waste Management - Inderscience (Scopus indexed)
    </li>
    <li class="list-group-item">Int. J. of Advanced Intelligence Paradigms - Inderscience (Scopus indexed)
    </li>
    <li class="list-group-item">International Journal of Control Theory and Applications (Scopus indexed)

    </li>
    <li class="list-group-item">Journal of Electrical Systems (Scopus indexed)
    </li>
    <li class="list-group-item">Journal of Materials and Environmental Science (Scopus indexed)

    </li>
    <li class="list-group-item">International Journal of Computer Science and Applications (Scopus indexed)

    </li>
    <li class="list-group-item">International Journal of Networking and Virtual Organizations - Inderscience (Scopus indexed)

    </li>
    <li class="list-group-item">Inderscience International Journal of Bioinformatics Research and Applications(Scopus indexed)

    </li>
    <li class="list-group-item">Int. J. of Intelligent Systems Technologies and Applications - Inderscience (Scopus indexed)

    </li>
    <li class="list-group-item">Int. J. of Vehicle Information and Communication Systems - Inderscience (Scopus indexed)
    </li>
    <li class="list-group-item">International journal of computers and applications. Inderscience (Scopus indexed) 
    </li>
        <li class="list-group-item">International-journal-web-based-learning- Inderscience (Scopus indexed)
    </li>
    <li class="list-group-item">Int. J. of Intelligent Systems Technologies and Applications - Inderscience (Scopus indexed)
    </li>
  </ul>

  <h3>Topics of interest for submission include, but are not limited to: </h3>
  <h3>CSE & IT:</h3>
  <ul class="list-group" style="font-size:16px">
    <li class="list-group-item">Cloud Computing</li>
    <li class="list-group-item">Grid computing</li>
    <li class="list-group-item">Big data</li>
    <li class="list-group-item">Mobile computing</li>
    <li class="list-group-item">Computer & network security</li>
    <li class="list-group-item">Data/Text mining</li>
    <li class="list-group-item">Internet information systems & technologies</li>
    <li class="list-group-item">Semantic web & web services</li>
    <li class="list-group-item">Cluster Computing </li>
    <li class="list-group-item">Open Source technology</li>
    <li class="list-group-item">Cyber Crime and Security </li>
    <li class="list-group-item">AI & Expert System </li>
  </ul>
  <h3>ECE:</h3>
  <ul class="list-group" style="font-size:16px">
    <li class="list-group-item">Array Signal Processing</li>
    <li class="list-group-item">Image/Video & Speech/Audio Processing</li>
    <li class="list-group-item">Wireless Communication</li>
    <li class="list-group-item">Next Generation Networks</li>
    <li class="list-group-item">Biomedical Systems/Biological Networks</li>
    <li class="list-group-item">RF/Microwaves/Antennas</li>
    <li class="list-group-item">Optical Communications</li>
    <li class="list-group-item">Adhoc and Sensor networks</li>
    <li class="list-group-item">Smart Grids and Green Technology</li>
    <li class="list-group-item">DSP Algorithms and Architecture</li>
    <li class="list-group-item">VLSI and Embedded Systems</li>
  </ul>
  <h3>EEE:</h3>
  <ul class="list-group" style="font-size:16px">
    <li class="list-group-item">Power system stability and control</li>
    <li class="list-group-item">Power quality</li>
    <li class="list-group-item">Embedded systems</li>
    <li class="list-group-item">Special Electrical Machines</li>
    <li class="list-group-item">Converters and Inverters</li>
    <li class="list-group-item">Network Harmonics</li>
    <li class="list-group-item">Power System Design</li>
  </ul>
  <h3>MATHS:</h3>
  <ul class="list-group" style="font-size:16px">
    <li class="list-group-item">Automata Theory</li>
    <li class="list-group-item">Discrete Mathematics</li>
    <li class="list-group-item">Pattern Recognition</li>
    <li class="list-group-item">Theory of Computation</li>
    <li class="list-group-item">Statistics Model</li>
    <li class="list-group-item">Applied Statistics</li>
  </ul>
  <h3>MECH:</h3>
  <ul class="list-group" style="font-size:16px">
    <li class="list-group-item">Recent Trends in Automobiles</li>
    <li class="list-group-item">Fracture Mechanics</li>
    <li class="list-group-item">E-Waste Management</li>
    <li class="list-group-item">CAD/CAM/CAE</li>
  </ul>
  <h3>CIVIL:</h3>
  <ul class="list-group" style="font-size:16px">
    <li class="list-group-item">Earthquake Resitances Structures</li>
    <li class="list-group-item">Advancements in Construction Material</li>
    <li class="list-group-item">Innovation in Ground Improvement Techniques</li>
  </ul>
</div> -->