<div class="container">
<h3>Journal Payment</h3>

<!-- <h5 style="color:red;">Annexure-I / Annexure-II(Anna university SCOPUS Indexed) will be made available for publishing on request.Kindly mail your request to icrtet2017@stjosephstechnology.ac.in</h5 style="color:red;">
 -->
<%= render 'form', journalpayment: @journalpayment %>
<h4><strong>NOTE:</strong></h4>
<ul style="color:red">
<li>Annexure-I / Annexure-II(Anna university SCOPUS Indexed) will be made available for publishing on request.</li>
<li>Kindly send your paper in IEEE template in doc/docx format to icrtet2017@stjosephstechnology.ac.in</li>
<li>Mention Annexure-I/Annexure-II in the subject of the mail.</li>
<li>Send your paper along with your contact number.</li>
<li>Kindly send your paper on or before 15<sup>th</sup> May 2017.</li>
</ul>
<br>
<%= link_to 'Back', journalpayments_path %>
</div>