  <div class="container-fluid" style="padding-top: 50px; padding-bottom: 100px;">
  	<div class = "col-md-4"></div>
  	<div class = "col-md-4 text-center">
  		<%= verify_mobile_number_form %>
  		<br><br>
  		<%= mobile_verification_button %>
  	</div>
  </div>
