<div class="container" style="padding-top: 100px; padding-bottom: 150px;">

<div align="center">
<h3>Amount to be paid</h3>

<!-- event registration payment amount -->




<!-- journal payment amount -->
<h4>&#8377;<%= @currjournal.amount %></h4>


<%= button_to "Proceed to Pay", techprocess_pay_path ,class: "btn btn-primary" %>
</div>

</div>
